@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  overflow-x: hidden;
}

/* cart */

.cart {
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 220px;
  padding: 10px;
  z-index: 999;
}

.cart .closebtn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 220px;
  background-color: rgb(253, 253, 190);
  transition: all 1s ease;
  transform: translateX(0%);
}

.closebtn .btn {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 999;
  width: 50px;
}

.closebtn .btn {
  top: 10px;
  color: #ffbc0d;
  background-color: rgba(255, 255, 255, 0.89);
  border: 2px solid #ffbc0d;
  border-radius: 4px;
  padding: 5px 0px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99;
  cursor: pointer;
}

.closebtn.show {
  transform: translateX(70%);
}

/* cart end */

.navbar {
  height: 50px;
  width: 100%;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0px;
}

h1 {
  margin: 50px;
  text-align: center;
}

.menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 150px;
}

.breakFast,
.ChickenFish,
.Wraps,
.HappyMeal,
.Desserts,
.Beverages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.break {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: auto;
  width: 178px;
  margin: 20px;
  border-radius: 0px 0px 6px 6px;
}

.break img {
  height: 178px;
  width: 178px;
}

.break h4 {
  text-align: center;
}

.break button {
  background-color: #ffbc0d;
  border: none;
  text-align: center;
  border-radius: 3px;
  padding: 10px 24px;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 10px;
}

.break button:hover {
  background-color: #ffbf00;
}
